# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List Data Science tools
- Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sql
4. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Scikit-learn

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

[1] 17

In [2]:
#This will convert 200 minutes to hours by dividing by 60
200/60

[1] 3.333333

## Author
Nithin Prasad